<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<div class="p-3 mb-2 bg-warning text-black">


<h1>About page</h1>

<p>My name is Gurnoor Hira. I am a freshmen at UMBC majoring in computer science. This is a password generating website I created to help people come up with passwords in less than seconds. Just choose what options you want to include in your password and the length you want, then my program will do the rest! PS: if you select nothing then the default length is 12 and it will generate a random password using lowercase letters.  </p>

<a href= "{% url 'home' %}" class="btn btn-warning">Home</a>
</div>
